/* header css */
#header {
	background-color: white;
	margin-bottom: 20px;
}

#header-row {
	margin-top: 20px;
}

#user-logo {
	width: 40px;
	height: 40px;
	margin-top: 3px;
}

#user-popup-logo {
	width: 30px;
	height: 30px;
	margin-top: 2px;
}
#user-logo:hover, #profile:hover, #logout:hover {
	cursor: pointer;
}

#logo {

}

/* Footer CSS */
#footer-row {
	background-color: #282A2B;
	height: 70px;
	width: 101%;
}

.footer {
	position: fixed;
	top: 100%;
	left: 0px;
	right: 0px;
}

/* Login form CSS */
div#login-form-container {
	position: absolute;
	top: 30%;
	bottom: 50%;
}


/* Register form CSS */
#register-form-container {
	position: absolute;
	top: 25%;
	bottom: 50%;
}

#register-link:hover {
	cursor: pointer;
}

/* Game List CSS */
tr:hover {
	cursor: pointer;
}
.table {
	border: 2px solid grey;
}

thead {
	background-color: #84BB41;
}

/* Pagination CSS */

/*#pagination:hover {
	background-color: #84BB41;
}

.page-link:active {
	background-color: #84BB41;	
}*/
